.colour { color: #D35400; }
a {	color:#D35400; }
a:hover{ color:#95A5A6; }
a:focus {color:#D35400; }
::selection { background: #D35400; color: #fff; }
::-moz-selection { background: #D35400; color: #fff; }

/**** TOOLTIP ****/
.tooltip-inner { background-color:#D35400; }
.tooltip.top .tooltip-arrow {  border-top-color: #D35400; }

/**** CIRCLE LINK ****/
.circle-link { background:#D35400; }

/**** MENU ****/
.header {
	background: transparent;
	color: white;
}
.header.tiny {
	background-color: #EEEEEE;
}

/**** STACK SLIDER BUTTON****/
.st-wrapper nav span:before { background: #D35400; }
/**** STACK SLIDER LINES ****/
.st-stack {
	background-image: -webkit-linear-gradient(top, #f0f0f0 50%, #D35400 50%);
	background-image: -moz-linear-gradient(top, #f0f0f0 50%, #D35400 50%);
	background-image: -o-linear-gradient(top, #f0f0f0 50%, #D35400 50%);
	background-image: -ms-linear-gradient(top, #f0f0f0 50%, #D35400 50%);
	background-image: linear-gradient(to bottom, #f0f0f0 50%, #D35400 50%);
}

/**** TEAM BOX COLOUR ****/
.grida figcaption { background:#D35400; }

/**** WORK - HOVER BG - LOAD MORE HOVER - LIGHTBOX BAR ****/
.thumbnail-caption{ background: #D35400;}
.grid-loadMore:hover{ color:#D35400!important; }
.autoGrid-nav{ background: #D35400; }

/**** BAR - BIG STATS ****/
#bigstats { background: #D35400; }

/**** BAR - CLIENTS ****/
#Section-Colour { background: #D35400; }

/**** PRICING TABLE CIRCLE COLOUR ****/
#pricing-table h3 span { background: #D35400; }

/**** CONTACT SECTION CONTACT BUTTON HOVER COLOUR ****/
#ajax-contact-form input.btn { background:#D35400!important; color:#fff!important;}
#ajax-contact-form input.btn:hover { background:#95A5A6!important; color:#fff!important; }

/**** TABS ****/
.nav-tabs .active a, .nav-tabs a:hover, .nav-tabs .active  a:focus { background-color: #D35400!important;}
